.App {
  width: 100vw;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-segment {
  width: 100% !important;
  height: auto !important;
  position: sticky !important;
  padding: 2px !important;
  background-color:lightsteelblue !important;
  margin-bottom: 0% !important;
}

.navbar-header {
  border-right: 1px solid midnightblue !important;
  border-top-right-radius: 0% !important;
  border-bottom-right-radius: 0% !important;
}

a {
  all: none !important;
}

.margined-menu {
  margin-left: auto !important;
  margin-right: auto !important;
}

.navbar-item {
  border: 1px solid midnightblue !important;
  color: black !important;
}

.navbar-item:hover {
  cursor: pointer;
  background-color: midnightblue !important;
  color: white !important;
}

.main-grid {
  width: 100% !important;
  height: 100% !important;
  background-color: whitesmoke !important;
}

.reservations-segment {
  margin: 20px !important;
  padding-top: 7% !important;
}